.layout {
	margin: 0;
	margin-left: 100px;
	padding: 0;
	overflow: hidden;
	width: 1400px;
}

.layout li {
	width: 600px;
	list-style-type: none;
	float: left;
}

.layout li:last-child {
	float: right;
}
